<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>the_boy_die0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{319,134},{67,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_die1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{319,201},{71,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_die10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-17}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{193,83},{99,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_die11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-18}</string>
                <key>spriteSize</key>
                <string>{101,59}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{318,0},{101,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-19}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{313,272},{99,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-20}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{374,331},{99,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_die14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-20}</string>
                <key>spriteSize</key>
                <string>{99,59}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{374,331},{99,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_die2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{75,89}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{75,0},{77,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{152,0},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{233,0},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{85,75}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{319,59},{85,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{285,370},{89,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{93,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{95,376},{93,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_die9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{65,184},{95,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_run0</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,4}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{0,184},{65,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,4}</string>
                <key>spriteSize</key>
                <string>{63,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{0,279},{63,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run10</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{63,279},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run11</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,4}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{124,279},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run12</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,5}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{67,89},{65,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run13</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,6}</string>
                <key>spriteSize</key>
                <string>{67,95}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{0,89},{67,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run14</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,5}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{252,79},{67,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{132,87},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{185,279},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,4}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{188,376},{61,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_run5</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,6}</string>
                <key>spriteSize</key>
                <string>{65,95}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{126,184},{65,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run6</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,7}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{246,279},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run7</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,6}</string>
                <key>spriteSize</key>
                <string>{65,93}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{254,172},{65,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>the_boy_run8</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,4}</string>
                <key>spriteSize</key>
                <string>{63,95}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{0,376},{63,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_boy_run9</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,4}</string>
                <key>spriteSize</key>
                <string>{61,97}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{193,182},{61,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>the_boy.png</string>
            <key>size</key>
            <string>{439,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42447ddc24245d4dbea268114564a59:ca8b104b408af0fdfa3b8596610567ca:2682fd29803d4f350cf762d1f0c3b303$</string>
            <key>textureFileName</key>
            <string>the_boy.png</string>
        </dict>
    </dict>
</plist>
